{
  "features": [
    "clip",
    "vae",
    "sampler"
  ],
  "model_type": "UNet Model",
  "configure_clip": true,
  "configure_vae": true,
  "configure_latent": false,
  "configure_sampler": true,
  "configure_model_only_lora": false,
  "configure_model_sampling": false,
  "configure_blockswap": false,
  "blocks_to_swap": 5,
  "offload_embeddings": false,
  "unet_name": "jibMixErnie_v10.safetensors",
  "weight_dtype": "default",
  "clip_source": "External",
  "clip_count": "1",
  "clip_type": "flux2",
  "clip_name1": "ministral-3-3b.safetensors",
  "clip_name2": "ministral-3-3b.safetensors",
  "vae_source": "External",
  "vae_name": "flux2-vae.safetensors",
  "sampler_name": "euler",
  "scheduler": "simple",
  "steps": 10,
  "cfg": 1,
  "flux_guidance": 3.5,
  "expected_hashes": "{\"jibMixErnie_v10.safetensors\": {\"air\": \"urn:air:ernie:checkpoint:civitai:2559463@2876221\", \"sha256\": \"eb50c3af03213b31d44814b520e4e9a452849bcfbbde954c68fb4486e4aca5aa\"}}",
  "download_locators": "[]"
}