{
  "features": [
    "clip",
    "vae",
    "sampler"
  ],
  "model_type": "UNet Model",
  "configure_clip": true,
  "configure_vae": true,
  "configure_latent": false,
  "configure_sampler": true,
  "configure_model_only_lora": false,
  "configure_model_sampling": false,
  "configure_blockswap": false,
  "blocks_to_swap": 5,
  "offload_embeddings": false,
  "unet_name": "flux/Fluxmania_Kreamania_fp16.safetensors",
  "weight_dtype": "fp8_e4m3fn",
  "clip_source": "External",
  "clip_count": "2",
  "clip_type": "flux",
  "clip_name1": "ViT-L-14-TEXT-detail-improved-hiT-GmP-TE-only-HF.safetensors",
  "clip_name2": "t5xxl_fp8_e4m3fn.safetensors",
  "vae_source": "External",
  "vae_name": "flux_vae.safetensors",
  "sampler_name": "dpmpp_2m",
  "scheduler": "sgm_uniform",
  "steps": 20,
  "cfg": 1,
  "flux_guidance": 2.5,
  "expected_hashes": "{\"Fluxmania_Kreamania_fp16.safetensors\": {\"air\": \"urn:air:flux1:checkpoint:civitai:778691@2106807\", \"sha256\": \"42e74dbc878117679f2ff6a6dafa77e901e8c3019ca5e0ccfb9fdfdfb81a37f7\"}}",
  "download_locators": "[]"
}