{
  "features": [
    "clip",
    "vae",
    "sampler",
    "model_sampling"
  ],
  "model_type": "UNet Model",
  "configure_clip": true,
  "configure_vae": true,
  "configure_latent": false,
  "configure_sampler": true,
  "configure_model_only_lora": false,
  "configure_model_sampling": true,
  "configure_blockswap": false,
  "blocks_to_swap": 5,
  "offload_embeddings": false,
  "unet_name": "Flux1.Dev_Kontext_fp8.safetensors",
  "weight_dtype": "fp8_e4m3fn",
  "clip_source": "External",
  "clip_count": "2",
  "clip_type": "flux",
  "clip_name1": "ViT-L-14-TEXT-detail-improved-hiT-GmP-TE-only-HF.safetensors",
  "clip_name2": "t5xxl_fp8_e4m3fn.safetensors",
  "vae_source": "External",
  "vae_name": "flux_vae.safetensors",
  "sampler_name": "euler",
  "scheduler": "beta",
  "steps": 20,
  "cfg": 1,
  "flux_guidance": 3.5,
  "sampling_method": "Flux",
  "shift": 1.15,
  "base_shift": 0.5,
  "sampling_width": 1024,
  "sampling_height": 1024,
  "expected_hashes": "{\"Flux1.Dev_Kontext_fp8.safetensors\": {\"air\": \"urn:air:flux1kontext:checkpoint:civitai:1672021@1945998\", \"sha256\": \"843a26dc765d3105dba081c30bce7b14c65b0988f9e8d14e9fbc8856a6deebd5\"}}",
  "download_locators": "[]"
}