{
  "features": [
    "clip",
    "vae",
    "sampler"
  ],
  "model_type": "UNet Model",
  "model_precision": "default",
  "configure_clip": true,
  "configure_vae": true,
  "configure_sampler": true,
  "configure_model_only_lora": false,
  "configure_model_sampling": false,
  "configure_blockswap": false,
  "blocks_to_swap": 5,
  "offload_embeddings": false,
  "unet_name": "fluxtraitFLUX2KleinFLUXZ_klein9bV2.safetensors",
  "weight_dtype": "fp8_e4m3fn",
  "clip_source": "External",
  "clip_count": "1",
  "clip_type": "flux2",
  "clip_name1": "qwen_3_8b_fp8mixed_abliterated.safetensors",
  "vae_source": "External",
  "vae_name": "flux2-vae.safetensors",
  "sampler_name": "euler",
  "scheduler": "simple",
  "steps": 5,
  "cfg": 1.5,
  "expected_hashes": "{\"diffusion_models:fluxtraitFLUX2KleinFLUXZ_klein9bV2.safetensors\": {\"air\": \"urn:air:flux2:checkpoint:civitai:2086049@2805234+2691528\", \"sha256\": \"cb4694ee32ed911ff32a2463f7062da0c3c7186c84e2e2c2f744f12f9a71bcb1\", \"reference_type\": \"civitai\", \"folder_role\": \"diffusion_models\", \"relative_path\": \"fluxtraitFLUX2KleinFLUXZ_klein9bV2.safetensors\"}}",
  "download_locators": "[]"
}
