{
  "features": [
    "clip",
    "vae",
    "sampler"
  ],
  "model_type": "UNet Model",
  "configure_clip": true,
  "configure_vae": true,
  "configure_latent": false,
  "configure_sampler": true,
  "configure_model_only_lora": false,
  "configure_model_sampling": false,
  "configure_blockswap": false,
  "blocks_to_swap": 5,
  "offload_embeddings": false,
  "unet_name": "darkBeastMar0326Latest_dbkleinv2BFS.safetensors",
  "weight_dtype": "fp8_e4m3fn",
  "clip_source": "External",
  "clip_count": "1",
  "clip_type": "flux2",
  "clip_name1": "qwen_3_8b_fp8mixed_abliterated.safetensors",
  "vae_source": "External",
  "vae_name": "flux2-vae.safetensors",
  "sampler_name": "euler",
  "scheduler": "simple",
  "steps": 5,
  "cfg": 1,
  "flux_guidance": 3.5,
  "expected_hashes": "{\"darkBeastMar0326Latest_dbkleinv2BFS.safetensors\": {\"air\": \"urn:air:flux2:checkpoint:civitai:2242173@2740209\", \"sha256\": \"b20b6f2744e152fd3efa2638e88a5feab478c778ee25c81b183fd80e03a099c3\"}}",
  "download_locators": "[]"
}