{
  "features": [
    "clip",
    "vae",
    "sampler"
  ],
  "model_type": "Standard Checkpoint",
  "configure_clip": true,
  "configure_vae": true,
  "configure_latent": false,
  "configure_sampler": true,
  "configure_model_only_lora": false,
  "configure_model_sampling": false,
  "configure_blockswap": false,
  "blocks_to_swap": 5,
  "offload_embeddings": false,
  "ckpt_name": "animij_v9.safetensors",
  "clip_source": "Baked",
  "enable_clip_layer": true,
  "stop_at_clip_layer": -2,
  "vae_source": "Baked",
  "sampler_name": "euler_ancestral",
  "scheduler": "simple",
  "steps": 30,
  "cfg": 5,
  "expected_hashes": "{\"animij_v9.safetensors\": {\"air\": \"urn:air:sdxl:checkpoint:civitai:1353314@2703578\", \"sha256\": \"dcd899c1429a5a47539eb2273114c6894a668805cc42b4b936cfea6ea3db51f9\"}}",
  "download_locators": "[]"
}