{
  "features": [
    "clip",
    "vae",
    "sampler"
  ],
  "model_type": "Standard Checkpoint",
  "configure_clip": true,
  "configure_vae": true,
  "configure_latent": false,
  "configure_sampler": true,
  "configure_model_only_lora": false,
  "configure_model_sampling": false,
  "configure_blockswap": false,
  "blocks_to_swap": 5,
  "offload_embeddings": false,
  "ckpt_name": "illustrious/ijsense_v20.safetensors",
  "clip_source": "Baked",
  "enable_clip_layer": true,
  "stop_at_clip_layer": -2,
  "vae_source": "Baked",
  "sampler_name": "euler_ancestral",
  "scheduler": "sgm_uniform",
  "steps": 30,
  "cfg": 7,
  "expected_hashes": "{\"ijsense_v20.safetensors\": {\"air\": \"urn:air:sdxl:checkpoint:civitai:2351513@2695786\", \"sha256\": \"200bc82daad39600b532340955e83040a0b5bd2c7baa9276d6f4c949ad81adb2\"}}",
  "download_locators": "[]"
}