{
  "features": [
    "clip",
    "vae",
    "sampler"
  ],
  "model_type": "UNet Model",
  "configure_clip": true,
  "configure_vae": true,
  "configure_sampler": true,
  "configure_model_only_lora": false,
  "configure_model_sampling": false,
  "configure_blockswap": false,
  "blocks_to_swap": 5,
  "offload_embeddings": false,
  "weight_dtype": "default",
  "clip_source": "External",
  "clip_count": "1",
  "clip_type": "krea2",
  "clip_name1": "qwen3vl_4b_fp8_scaled.safetensors",
  "vae_source": "External",
  "vae_name": "qwen_image_vae.safetensors",
  "sampler_name": "euler",
  "scheduler": "simple",
  "steps": 8,
  "cfg": 1,
  "expected_hashes": "{\"krea2TurboOfficialComfy_krea2TurboBf16.safetensors\": {\"air\": \"urn:air:krea2:checkpoint:civitai:2726029@3064584\", \"sha256\": \"78bbf8f4165eda19cea3cb06c78089221932a39e2eed8af9da741f942c47ffb3\"}}",
  "download_locators": "[{\"target_role\":\"diffusion_models\",\"air\":\"urn:air:krea2:checkpoint:civitai:2726029@3064584\"}]",
  "unet_name": "krea2TurboOfficialComfy_krea2TurboBf16.safetensors"
}