{
  "features": [
    "clip",
    "vae",
    "sampler"
  ],
  "model_type": "Nunchaku Flux",
  "configure_clip": true,
  "configure_vae": true,
  "configure_latent": false,
  "configure_sampler": true,
  "configure_model_only_lora": false,
  "configure_model_sampling": false,
  "configure_blockswap": false,
  "blocks_to_swap": 5,
  "offload_embeddings": false,
  "nunchaku_name": "nunchaku/svdq-int4_r32-fluxmania-legacy.safetensors",
  "data_type": "bfloat16",
  "cache_threshold": 0.01,
  "attention": "flash-attention2",
  "i2f_mode": "enabled",
  "cpu_offload": "auto",
  "clip_source": "External",
  "clip_count": "2",
  "clip_type": "flux",
  "clip_name1": "ViT-L-14-TEXT-detail-improved-hiT-GmP-TE-only-HF.safetensors",
  "clip_name2": "t5xxl_fp16.safetensors",
  "vae_source": "External",
  "vae_name": "flux_vae.safetensors",
  "sampler_name": "dpmpp_2m",
  "scheduler": "sgm_uniform",
  "steps": 20,
  "cfg": 1,
  "flux_guidance": 2.5,
  "expected_hashes": "{}",
  "download_locators": "[]"
}