{
  "features": [
    "clip",
    "vae",
    "sampler"
  ],
  "model_type": "Standard Checkpoint",
  "configure_clip": true,
  "configure_vae": true,
  "configure_latent": false,
  "configure_sampler": true,
  "configure_model_only_lora": false,
  "configure_model_sampling": false,
  "configure_blockswap": false,
  "blocks_to_swap": 5,
  "offload_embeddings": false,
  "ckpt_name": "cyberrealisticPony_v180Coreshift.safetensors",
  "clip_source": "Baked",
  "enable_clip_layer": true,
  "stop_at_clip_layer": -2,
  "vae_source": "Baked",
  "sampler_name": "dpmpp_2m",
  "scheduler": "sgm_uniform",
  "steps": 30,
  "cfg": 5,
  "expected_hashes": "{\"cyberrealisticPony_v180Coreshift.safetensors\": {\"air\": \"urn:air:sdxl:checkpoint:civitai:443821@2884631\", \"sha256\": \"1d580c1c3f3612fa4db88af65372255582d5509ca0b28f85387273368301941b\"}}",
  "download_locators": "[{\"target_role\":\"checkpoints\",\"air\":\"urn:air:sdxl:checkpoint:civitai:443821@2884631\"}]"
}