{
  "features": [
    "clip",
    "vae",
    "sampler",
    "model_sampling"
  ],
  "model_type": "UNet Model",
  "configure_clip": true,
  "configure_vae": true,
  "configure_latent": false,
  "configure_sampler": true,
  "configure_model_only_lora": false,
  "configure_model_sampling": true,
  "configure_blockswap": false,
  "blocks_to_swap": 5,
  "offload_embeddings": false,
  "unet_name": "qwen_image_fp8_e4m3fn.safetensors",
  "weight_dtype": "default",
  "clip_source": "External",
  "clip_count": "1",
  "clip_type": "qwen_image",
  "clip_name1": "qwen_2.5_vl_7b_fp8_scaled.safetensors",
  "vae_source": "External",
  "vae_name": "qwen_image_vae.safetensors",
  "sampler_name": "euler",
  "scheduler": "beta57",
  "steps": 40,
  "cfg": 3,
  "sampling_method": "AuraFlow",
  "shift": 5,
  "expected_hashes": "{}",
  "download_locators": "[]"
}