{
  "features": [
    "sampler",
    "lora"
  ],
  "model_type": "UNet Model",
  "model_precision": "int8",
  "configure_clip": false,
  "configure_vae": false,
  "configure_sampler": true,
  "configure_model_only_lora": true,
  "configure_model_sampling": false,
  "configure_blockswap": false,
  "blocks_to_swap": 10,
  "offload_embeddings": false,
  "unet_name": "redqw21UNLOCKEDV2TI2I_redqw21UNLOCKEDV2_int8.safetensors",
  "weight_dtype": "default",
  "sampler_name": "euler",
  "scheduler": "simple",
  "steps": 30,
  "cfg": 3.5,
  "flux_guidance": 3.5,
  "lora_count": "1",
  "lora_switch_1": true,
  "lora_name_1": "qwen/Pornmaster_QI2.1_Breasts_Slider_V1.safetensors",
  "lora_weight_1": 20,
  "lora_switch_2": false,
  "lora_name_2": "None",
  "lora_weight_2": 1,
  "lora_switch_3": false,
  "lora_name_3": "None",
  "lora_weight_3": 1,
  "expected_hashes": "{\"diffusion_models:redqw21UNLOCKEDV2TI2I_redqw21UNLOCKEDV2_int8.safetensors\": {\"air\": \"urn:air:qwen21:diffusionmodel:civitai:452459@3353689+3241129\", \"sha256\": \"b25a264174bec007728cabde77a9b018187e66c6e133fdb4a0651776faf3da3e\", \"precision\": \"int8\", \"reference_type\": \"civitai\", \"folder_role\": \"diffusion_models\", \"relative_path\": \"redqw21UNLOCKEDV2TI2I_redqw21UNLOCKEDV2_int8.safetensors\"}}",
  "download_locators": "[]"
}
