{
  "features": [
    "clip",
    "vae",
    "model_sampling",
    "sampler"
  ],
  "model_type": "UNet Model",
  "configure_clip": true,
  "configure_vae": true,
  "configure_latent": false,
  "configure_sampler": true,
  "configure_model_only_lora": false,
  "configure_model_sampling": true,
  "configure_blockswap": false,
  "blocks_to_swap": 5,
  "offload_embeddings": false,
  "unet_name": "rayZimageBaseNSFW_v2.safetensors",
  "weight_dtype": "default",
  "clip_source": "External",
  "clip_count": "1",
  "clip_type": "lumina2",
  "clip_name1": "huihui-qwen3-4b-abliterated-v2-q8_0.gguf",
  "vae_source": "External",
  "vae_name": "flux_vae.safetensors",
  "sampler_name": "euler_ancestral",
  "scheduler": "beta",
  "steps": 30,
  "cfg": 4,
  "sampling_method": "AuraFlow",
  "shift": 3,
  "expected_hashes": "{\"rayZimageBaseNSFW_v2.safetensors\": {\"air\": \"urn:air:zimagebase:checkpoint:civitai:2383960@2749033\", \"sha256\": \"0f16ef48c5365da50ce38823869a8f80a684a363e79dda39e37475f2197a81f8\"}}",
  "download_locators": "[]"
}