{
  "features": [
    "clip",
    "vae",
    "sampler"
  ],
  "model_type": "UNet Model",
  "configure_clip": true,
  "configure_vae": true,
  "configure_latent": false,
  "configure_sampler": true,
  "configure_model_only_lora": false,
  "configure_model_sampling": false,
  "configure_blockswap": false,
  "blocks_to_swap": 5,
  "offload_embeddings": false,
  "unet_name": "zImageTurbo_darkBeast_dbzLSPV25.safetensors",
  "weight_dtype": "default",
  "clip_source": "External",
  "clip_count": "1",
  "clip_type": "lumina2",
  "clip_name1": "qwen_3_4b.safetensors",
  "vae_source": "External",
  "vae_name": "zImage_vae.safetensors",
  "sampler_name": "er_sde",
  "scheduler": "sgm_uniform",
  "steps": 10,
  "cfg": 1,
  "expected_hashes": "{\"zImageTurbo_darkBeast_dbzLSPV25.safetensors\": {\"air\": \"urn:air:zimageturbo:checkpoint:civitai:2242173@2578100\", \"sha256\": \"115b6c7e7732966a86ac0ff33eaaca63af0ce025fd0b3837f52e1425d808aea2\", \"precision\": \"bf16\"}}",
  "download_locators": "[]"
}