{
  "features": [
    "clip",
    "vae",
    "model_sampling",
    "sampler"
  ],
  "model_type": "UNet Model",
  "configure_clip": true,
  "configure_vae": true,
  "configure_latent": false,
  "configure_sampler": true,
  "configure_model_only_lora": false,
  "configure_model_sampling": true,
  "configure_blockswap": false,
  "blocks_to_swap": 5,
  "offload_embeddings": false,
  "unet_name": "cyberrealisticZImage_v50.safetensors",
  "weight_dtype": "default",
  "clip_source": "External",
  "clip_count": "1",
  "clip_type": "lumina2",
  "clip_name1": "huihui-qwen3-4b-abliterated-v2-q8_0.gguf",
  "vae_source": "External",
  "vae_name": "flux_vae.safetensors",
  "sampler_name": "euler",
  "scheduler": "simple",
  "steps": 10,
  "cfg": 1,
  "sampling_method": "AuraFlow",
  "shift": 3,
  "expected_hashes": "{\"cyberrealisticZImage_v50.safetensors\": {\"sha256\": \"95b96f59317b07e7f1e51ff769845becf832d870a08110216b0fe865d5469213\", \"air\": \"urn:air:zimageturbo:checkpoint:civitai:2218365@2950117\"}}",
  "download_locators": "[]"
}