{
  "features": [
    "clip",
    "vae",
    "sampler"
  ],
  "model_type": "UNet Model",
  "configure_clip": true,
  "configure_vae": true,
  "configure_latent": false,
  "configure_sampler": true,
  "configure_model_only_lora": false,
  "configure_model_sampling": false,
  "configure_blockswap": false,
  "blocks_to_swap": 5,
  "offload_embeddings": false,
  "unet_name": "perfeczion_20bf16.safetensors",
  "weight_dtype": "default",
  "clip_source": "External",
  "clip_count": "1",
  "clip_type": "lumina2",
  "clip_name1": "huihui-qwen3-4b-abliterated-v2-q8_0.gguf",
  "vae_source": "External",
  "vae_name": "flux_vae.safetensors",
  "sampler_name": "euler",
  "scheduler": "simple",
  "steps": 12,
  "cfg": 1,
  "expected_hashes": "{\"perfeczion_20bf16.safetensors\": {\"air\": \"urn:air:zimageturbo:checkpoint:civitai:2524003@2986864\", \"sha256\": \"e22ca45110fff96b243412bcabb85c9c770186e826f0b5a46ac64d2fcb388041\"}}",
  "download_locators": "[]"
}