{
  "features": [
    "clip",
    "vae",
    "sampler"
  ],
  "model_type": "UNet Model",
  "configure_clip": true,
  "configure_vae": true,
  "configure_latent": false,
  "configure_sampler": true,
  "configure_model_only_lora": false,
  "configure_model_sampling": false,
  "configure_blockswap": false,
  "blocks_to_swap": 5,
  "offload_embeddings": false,
  "unet_name": "darkbeastz6BlitzF32.ZvrP.safetensors",
  "weight_dtype": "default",
  "clip_source": "External",
  "clip_count": "1",
  "clip_type": "lumina2",
  "clip_name1": "huihui-qwen3-4b-abliterated-v2-q8_0.gguf",
  "vae_source": "External",
  "vae_name": "flux_vae.safetensors",
  "sampler_name": "euler",
  "scheduler": "simple",
  "steps": 8,
  "cfg": 1,
  "expected_hashes": "{\"darkbeastz6BlitzF32.ZvrP.safetensors\": {\"air\": \"urn:air:zimageturbo:checkpoint:civitai:2242173@2699886\", \"sha256\": \"fe1b6ffd2c9487931f58a22511ca79013e94e7c8cec9dfe40f901b63dff8e62b\", \"precision\": \"fp32\"}}",
  "download_locators": "[]"
}