{
  "features": [
    "clip",
    "vae",
    "sampler",
    "model_sampling"
  ],
  "model_type": "UNet Model",
  "configure_clip": true,
  "configure_vae": true,
  "configure_latent": false,
  "configure_sampler": true,
  "configure_model_only_lora": false,
  "configure_model_sampling": true,
  "configure_blockswap": false,
  "blocks_to_swap": 5,
  "offload_embeddings": false,
  "unet_name": "moodyProMix_zitV13.safetensors",
  "weight_dtype": "default",
  "clip_source": "External",
  "clip_count": "1",
  "clip_type": "lumina2",
  "clip_name1": "huihui-qwen3-4b-abliterated-v2-q8_0.gguf",
  "vae_source": "External",
  "vae_name": "flux_vae.safetensors",
  "sampler_name": "res_multistep",
  "scheduler": "simple",
  "steps": 9,
  "cfg": 1,
  "sampling_method": "AuraFlow",
  "shift": 3,
  "expected_hashes": "{\"moodyProMix_zitV13.safetensors\": {\"air\": \"urn:air:zimageturbo:checkpoint:civitai:620406@3025713\", \"sha256\": \"c8c2174a19d4146df2bed36a0d01cbd8b2f49743b4aa8dfa6e67b85c888d0c2a\"}}",
  "download_locators": "[{\"target_role\":\"diffusion_models\",\"air\":\"urn:air:zimageturbo:checkpoint:civitai:620406@3025713\"}]"
}